node_modules/
ssh_key/
*.bat
*.log
debug/
release/
src/BotList/*
!src/BotList/aoba_suzukaze.js
src/Plugin/*
!src/Plugin/Paiza
test/debug/
test/release/
test/src/Plugin/*
!test/src/Plugin/testPlugin.js
!test/src/Plugin/Paiza
slackToken.js